@media screen and (max-width: 650px) {
  
  aside {
    width: 50px;
  }

  .aside .row .col:first-child {
    padding-right: 0px;
  }

  aside .row .col:first-child {
    justify-content: flex-start;
  }

  aside .row .col:first-child .logo-desktop {
    display: none;
  }
  
  aside .row .col:first-child .logo-mobile {
    display: block; 
    margin: 10px auto;
  }

  aside ul:first-of-type span:last-child {
    display: none;
  }
  
  aside .col:nth-child(2){
    display: none;
  }
  
  aside .col:nth-child(3){
    display: none;
  }
  
  .overlay {
    width: calc(100% - 50px);
}

  .container-music .description h3 {
    font-size: 1rem;
  }

  .media-player-panel-control .info-song {
    margin-right: 0px;
  }
  .navbar ul li {
    margin-bottom: 10px;
    padding: 0 10px;
  }

}