@media screen and (max-width: 768px) {

  .card {
    width: calc(100% / 2);
    padding: 0 5px ;
  }
  
  .track-control {
    gap: 20px;
  }

  .media-player-panel-control .row .col:nth-child(odd) {
    flex-shrink: 1;
  }
}