@media screen and (max-width: 768px) {

  .card {
    width: calc(100% / 2);
    padding: 0 5px ;
  }

  .track-control span:first-child {
    display: none;
  }
  
  .track-control span:last-child {
    display: none;
  }

}