@media screen and (max-width: 700px) {

  .card {
    width: calc(100% / 2);
  }

  .track-control span:first-child {
    display: none;
  }
  
  .track-control span:last-child {
    display: none;
  }

}