@media screen and (max-width: 768px) {

  .card {
    width: calc(100% / 2);
    padding: 0 5px ;
  }
  
  .volume .icons {
    flex-direction: column;
  }

  .media-player-panel-control .col:last-child{
    justify-content: center;
  }

  .add-icons {
    flex-direction: column;
    justify-content: center;
  }
}