:root {
  --main-background : rgb(20, 25, 34);
  --mediaplayer-background: rgb(40, 40, 40) ;
  --spotify-green: rgb(179, 255, 36);
  --txt-grey:rgb(125, 127, 132);
  --aside-background: rgb(0, 0, 0 );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style: none;
}

h1 {
  color: white;
  margin-bottom: 15px;
} 

h3 {
  padding: 10px 0;
  color: white;
}

span {
  color: var(--txt-grey);
}

span:hover {
  color: white;
  cursor: pointer;
}

.wrapper-mobile {
  display: none;
}

/* GENERIC RULES */

/* UTILITIES */

.d-flex {
  display: flex;
}

.d-wrap {
  flex-wrap: wrap;
}

.middle {
  justify-content: center;
  align-items: center;
}

.active {
  background-color: var(--spotify-green);
}

.debug-1 {
  background-color: rgba(208, 0, 255, 0.2);
  border: 1px solid black;
  min-height: 20px;
}

.debug-2 {
  background-color: rgba(17, 255, 0, 0.652);
  border: 1px solid black;
  min-height: 20px;
}

.btn {
  border: 1px solid white;
  padding: 15px 25px;
  text-transform: uppercase;
  border-radius: 25px;
}

.line {
  border: 1px solid var(--txt-grey);
  width: 90%;
  margin: 0 auto;
  margin: 5px 0;
}

/* ******************
      PROGRESSION BAR
*********************** */
.bar-progression {
  width: 30%;
  border-radius: 20px;
  border: 3px solid white;
  position: relative;
}

.bar-progression::before {
  content: "";
  padding: 8px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: -10px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 50%;
}

.bar-progression:hover {
  border-radius: 20px;
  border: 3px solid var(--spotify-green);
}

/* UTILITIES */


/***************************************** 
          MAIN SECTION
******************************************/

main {
  height: calc(100vh - 10vh);
  background-color: var(--main-background);
  position: relative;
}

.main-container {
  width: 100%;
  overflow-y: auto;
}

.overlay {
  height: 100px;
  width: calc(100% - 230px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay a {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.overlay a:hover {
  position: absolute;
  top: 25%;
  transform: scale(1.2);
}

.navbar {
  margin-top: 110px;
}

.navbar li > div {
  height: 2px;
  width: 20px;
  margin: 5px auto;
}

.navbar ul {
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navbar ul li:hover a {
  color: white;
}

.navbar ul li {
  display: inline-block;
  padding: 5px  20px;
}

.navbar a {
  color: var(--txt-grey);
  text-transform: uppercase;
}

.container-music {
  padding: 20px;
}

.container-card {
margin: 30px 0;
}
/***************************************** 
        CARD STYLE
******************************************/

.card {
  width: calc(100% / 6);
  padding: 0 20px ;
}

.card :hover {
  cursor: pointer;
}

.cover {
  position: relative;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.card .cover img {
  width: 100%;
  object-fit: cover;
}

.card .description {
  text-align: center;
}

/* ---OVERLAY EFFECTS--- */

.hover-play {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.hover-play:hover {
  opacity: 1;
  transition-duration: .5s;
}

.hover-play:hover > i {
  transform: rotatex(180deg);
  font-size: 5rem;
  transition-duration: .6s;
  text-shadow: 3px -5px 5px rgba(0, 0, 0, 0.8);
}

/***************************************** 
        START ASIDE STYLE
******************************************/
aside {
  width: 230px;
  flex-shrink: 0;
  min-height: 100%;
  background-color: var(--aside-background);
  color: white;
}

aside .row {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .row .col:not(:first-child) {
  padding: 10px;
}

/* GENERIC RULES */

/* FIRST COL */

aside .row .col:first-child {
  height: 200px;
  min-height: 200px;
  padding-left: 0;
  flex-direction: column;
  justify-content: space-between;
}
   /* LOGO STYLE */

aside .row .col:first-child .logo-desktop {
  width: 70%;
  margin: 10px 5px;
}

aside .row .col:first-child .logo-mobile{
width: 30px;
display: none;
}

   /* LOGO STYLE */

aside .row .col:first-child li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

aside .row .col:first-child li img {
  width: 30px;
}

aside .row .col:first-child li:first-child span {
  color: white;
}

aside .row .col:first-child li span:first-child {
width: 5px;
height: 30px;
margin-right: 5px;
border-radius: 0px 5px 5px 0px;
}

/* SECOND COL */

aside .row .col:nth-child(2) {
  height: calc( 90vh - (200px + 100px));
  flex-direction: column;
}

.add-playlist {
  padding: 15px 0;
  font-weight: 600;
}

.add-playlist i {
background-color: var(--txt-grey);
color: black;
padding: 10px;
font-size: 1.5rem;
}

.add-playlist:hover i {
  background-color: white;
}

.add-playlist:hover span {
  color: white;
}

.name-playlist {
  overflow-y: auto;
}

.name-playlist li {
  margin-bottom: 20px;
}

.name-playlist li a {
  color: var(--txt-grey);
}

.name-playlist li:hover a {
  color: white;
  cursor: pointer;
}

/* TIRDTH COL */

aside .row .col:last-child {
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
}

.download-cta {
  align-items: center;
}

.download-cta img {
  width: 25px;
  margin-right: 10px;
  filter: invert(51%) sepia(3%) saturate(485%) hue-rotate(185deg) brightness(96%) contrast(86%)
}

.download-cta span {
  font-size: .9rem;
  font-weight: bold;
}

.profile {
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 25px;
  padding: 2px;
  background-color: var(--txt-grey);
  border-radius: 50%;
}
.profile h3 {
  font-size: 1rem;
}

/***************************************** 
          MEDIA PLAYER PANEL CONTROL
******************************************/

.media-player-panel-control {
  height: 10vh;
  background-color: var(--mediaplayer-background);
}

.media-player-panel-control .row {
  height: 10vh;
  max-height: 10vh;
  align-items: center;
}

.media-player-panel-control .row .col:nth-of-type(2) {
  flex-grow: 2;
}

.media-player-panel-control .row .col:nth-child(odd) {
  width: 250px;
  height: 6vh;
  align-items: center;
  padding: 5px;
  flex-shrink: 0;
} 

      /* GENERIC RULES */

.media-player-panel-control .album-cover img {
  width: 50px;
  margin-right: 10px; 
  cursor: pointer;
}

.media-player-panel-control .info-song {
  margin-right: 20px;
}

.media-player-panel-control .info-song h4 {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.media-player-panel-control .info-song span {
  font-weight: bold;
  font-size: .8rem;
}

.media-player-panel-control .add-icons {
  color: var(--txt-grey);
  font-size: 1.3rem;
  gap: 10px;
}
.media-player-panel-control .add-icons i:hover {
  color: white;
}

      /* LEFT COL */

.container-control {
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.track-control {
  height: 5vh;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.track-control span {
  color: white;
  font-size: 1.2rem;
}

.track-control span:nth-child(3) {
  font-size: 2.6rem;
}

.progression-info {
  height: 4vh;
  justify-content: center;
  align-items: first baseline;
  gap: 20px;
}

.track-progression {
  width: 60%;
  flex-shrink: 0;
}

    /* SECOND COL */

.media-player-panel-control .col:last-child{
  justify-content: space-around;
}

.volume {
width: 60%;
}

.volume .icons {
  gap: 3px;
}

.bar {
  width: 100%;
  border-radius: 20px;
  background-color: grey;
}

.media-player-panel-control .col:last-child .icons i {
  color: white;
  padding: 2px;
}
      /* TIRDTH COL */