:root {
  --main-background : rgb(20, 25, 34);
  --mediaplayer-background: rgb(40, 40, 40) ;
  --spotify-green: rgb(179, 255, 36);
  --txt-grey:rgb(125, 127, 132);
  --aside-background: rgb(0, 0, 0 );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* GENERIC RULES */

/* UTILITIES */

.d-flex {
  display: flex;
}

.debug-1 {
  background-color: rgba(208, 0, 255, 0.2);
  border: 1px solid black;
}


/* UTILITIES */

/***************************************** 
          MAIN SECTION
******************************************/

main {
  height: calc(100vh - 10vh);
  background-color: var(--main-background);
  overflow-y: auto;
  position: relative;
}

/***************************************** 
        START ASIDE STYLE
******************************************/
aside {
  width: 10%;
  min-width: 175px ;
  height: calc(100vh - 10vh);
  overflow-y: auto;
  align-self: flex-end;
  background-color: var(--aside-background);
  color: white;
}

aside .row {
  height: calc(100vh - 10vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .row .col:first-child {
  height: 200px;
  min-height: 200px;
}

aside .row .col:nth-child(2) {
  min-height: calc(90vh - (200px + 100px));
  overflow-y: auto;
}

aside .row .col:last-child {
  height: 100px;
}

/***************************************** 
        END ASIDE STYLE
******************************************/

/***************************************** 
        OVERLAY STYLE
******************************************/

.upgrade-overlay {
  width: calc(100% - 10%);
  max-width: calc(100% - 175px);
  height: 100px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.upgrade-overlay span a {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform:translateY(-50%) ;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
}



/***************************************** 
          MEDIA PLAYER PANEL CONTROL
******************************************/

.media-player-panel-control {
  height: 10vh;
  background-color: var(--mediaplayer-background);
}

.media-player-panel-control .row .col {
  height: 10vh;
  min-width: 150px;
}

.media-player-panel-control .row .col:nth-of-type(2) {
  width: 80%;
  background-color: brown; /* Debug*/
}

.media-player-panel-control .row .col:nth-child(odd) {
  width: 10%;
  background-color: burlywood; /* Debug*/
} 